#Classi java compilate
/out/

#Elementi os-dipendent, user-dipendent
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/b42ff736-1160-4f78-a745-96ad057541ec.xml
.idea/workspace.xml

#File di configurazione
**/config.properties
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/workspace.xml