.title.title-up {
    margin: 5px auto;
}
.address-name{
    margin-top: 0;
}
.address-buttons {
    padding-top: 60px;
}

body>.container{
    padding-bottom: 20px;
}

.list-group-item {
    margin: 10px;
    border-radius: 8px !important;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}