.container{
    width: auto;
    background-color: #FFF;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;
    margin: 40px 70px;
}

.display-1 {
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

html{
    background-color: #F3F3F4;
}
body{
    background-color: #F3F3F4 !important;
}

.list-group-item {
    margin: 10px;
    border-radius: 8px !important;
    border-width: 1px;
    border-color: #CAD2D2;
}

.cart-item {
    background-color: #FFF !important;
}

.itemtitle {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.itemseller {
    font-size: 18px;
    margin-bottom: 5px;
}

.itemprice {
    margin-top: 0;
    font-size: 24px;
    color: #99CC33;
}

.itemquantity {
   padding-top: 20px;
   text-align: center;
   height: 100px;
   margin: auto;
}

#prodimg {
     padding-top: 5px;
}

#prodimg>img {
    width: 120px;
    height: 90px;
}

.checkout {
	vertical-align: center;
}
