.navbar-brand img {
    float: left;
}

#headertitle{
    float: left;
    padding-left:15px;
    padding-top: 2px;
}

#popup {
    top: 61px;
    margin-top: 8px;
    position:fixed;
    z-index: 999;
    right: 10px;
    opacity: 0;
}