li.list-group-item .row {
    margin-left: -10px;
    margin-right: -10px;
}

.stelle{
    padding-top: 10px;
    padding-bottom: 18px;
    color: white;
}

.card-signup .header {
    padding: 15px 0;
}

.nav-tabs > li.active > a{
    border-width: 2px !important;
}

.panel-default > .panel-heading{
    background-color: #2c3e50 !important;
    color: #FFF !important;
}

.panel-heading h5 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.margin-btn{
    margin-top: 10px;
}

a.list-group-item:hover{
    background-color: #FFF !important;
    cursor: default;
}

li.list-group-item img {
    margin: auto;
}

li.list-group-item.active small {
    color:#fff;
}

.stars {
    margin:20px auto 1px;
}

#title {
    margin-top: 0;
    margin-bottom: 15px;
}

body>.container {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.resetcolor{
    color: #2c3e50;
}
.resetcolor:hover{
    color: #2c3e50;
}
.resetcolor:focus{
    color: #2c3e50;
}