body>.container{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    border-radius: 8px;
    background-color: green !important;
}
html{

    background-color: gold;/*#F3F3F4;*/
}
body{
    background-color: darkred !important;

    min-width:350px; /* suppose you want minimun width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:350px;             /* As IE ignores !important it will set width as 1000px; */
}

/* override my.css */
h4 {
    font-size: 100%;
    line-height: 1em;
    margin-top: -10px;
}

.vcenter {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

.search_row {
    
    height: 150px;
    line-height: 1;

    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

.ratAdd {
    margin-right: 20px;
}

.ratAdd > a {
    margin-top: 20px;
}

#navbar >.col-md-12 {
    background-color: #ffffff;
}

#mainContent {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}